@(kmlForm: Form[Application.Kml])

@import helper._

@main(title = "Welcome to MAPPA") {

	<div class="container">

   @form(action = routes.Application.getKml, args = 'id -> "sessionForm") {
        
        <fieldset>
            <legend>Request your KML output</legend>
            
        @inputText(
            field = kmlForm("filter_id"),
            args = '_label -> "ID"
        )
        
        @select(
            field = kmlForm("type"), 
            options = options(
                "session" -> "Session",
                "user" -> "User"
            ),
            args = '_label -> "Type"
        )
        
        </fieldset>
        
        <p class="buttons">
            <input type="submit">
        <p>
    </div>
    }

}