@(filter_id: String)(linkType: String)

@main(title = "Results") {

	<script src="//www.google.com/jsapi?key=ABQIAAAA5El50zA4PeDTEMlv-sXFfRSsTL4WIgxhMZ0ZK_kHjwHeQuOD4xTdBhxbkZWuzyYTVeclkwYHpb17ZQ"></script>
	<script type="text/javascript">
		var ge;
		var filter_id = @filter_id;  
		var linkType = "@linkType";
		google.load("earth", "1");

		function init() {
			google.earth.createInstance('map3d', initCB, failureCB);
		}

		function initCB(instance) {
			ge = instance;
			ge.getWindow().setVisibility(true);

			var link = ge.createLink('');
		//	var href = 'http://mappa.uio.im' + linkType + filter_id;
			var href = 'http://localhost:9000' + linkType + filter_id;
			var a = document.getElementById('fileReference');
			a.href = href;
			link.setHref(href);
			var networkLink = ge.createNetworkLink('');
			networkLink.set(link, true, true); // Sets the link, refreshVisibility, and flyToView.

			ge.getFeatures().appendChild(networkLink);
		}

		function failureCB(errorCode) {
		}
		
		google.setOnLoadCallback(init);
	</script>
   
	<div id="map3d" style="height:600px; width:800px;"></div>
    
	<p class="buttons">
		<a href="@routes.Application.index">Back to the form</a>
	</p>
		<a id="fileReference" href="@routes.Application.index">KML File</a>
	<p class="directLink">
		
	</p>
	
}